<h3>Register</h3>
<div class='container'>
    <div class='alert alert-info' *ngIf=existingUser> User {{UserName}} is exist,try different user</div>
    <div class='alert alert-success' *ngIf=sucessfullregistration>Registration of user {{UserName}} sucessfull</div>
    <div class='alert alert-warning' *ngIf=unsucessfullregistration>Registration of user {{UserName}} failed</div>
    <div class="col-sm-9 col-md-6">
        <div class="alert alert-warning" *ngIf="loginForm.dirty && loginForm.invalid">Enter valid values</div>
    <form (ngSubmit)="!loginForm.invalid && userRegistration()"  #loginForm="ngForm">  
      <fieldset class="form-group">
          <label>UserName</label>
      <input type="text" [(ngModel)]="login.username" class="form-control" name="username" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Password</label>
    <input type="text" [(ngModel)]="login.password" class="form-control" name="password" required="required">
  </fieldset>
    <div class="form-group">
      <button mat-raised-button type="submit" class="btn btn-primary pull-left">Register</button>
    </div>
    </form>
    </div>
</div>
