.ng-invalid:not(form) {
    border-left: 5px solid red;
}

.main { 
    text-align:center; 
} 
.marq { 
    padding-top:30px; 
    padding-bottom:5px; 
} 
.geek1 { 
    font-size:25px; 
    font-weight:bold; 
    color:white; 
    padding-bottom:10px; 
} 
.gt{
    color:rgb(62, 219, 101)   
}